@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#main-clock-container{
    text-align: center;
}

#timeZone-lable{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

#timeZones{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    width: 300px;
    padding: 7px;
    appearance: none;
    cursor: pointer;
    border: 2px solid black;
    
}

#timeZones:hover{
    border: 2px solid blue;
}

#clock{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

#time-zone-list{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

#clear-button-div{
    text-align: center;
    padding: 3px;
}

#clear-button{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    width: 150px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#clear-button:hover{
    background-color: rgb(224, 255, 255);
}

#get-location-div{
    text-align: center;
}

#get-location-button{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    width: 150px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#get-location-button:hover{
    background-color: rgb(224, 255, 255);
}